<!DOCTYPE html>
<!-- doctype informa ao agente de usuário a versão do html que deve ser renderizada-->
<html lang="pt-br">

<head>
    <meta charset='utf-8'>
    <meta name="author" content="Osvaldo Costa">
    <meta name="description" content="Página base para estudo e prática de programação JavaScript">
    <meta name="keywords" content="html5, css, javascript, tecnologia">
    <title>Curso Javascript Avançado</title>
    <!--NÃO PRECISAMOS CARREGAR OS CSS pois estão sendo crregados pelo webpack-->
    
</head>

<body>
    <section class="container">
        <h1>Curso Programação Javascript - Avançado</h1>
        <form action ="contato" method ="POST">
            Nome completo: <input type="text" name="nome">
            Assunto: <input type="text" name="assunto">
            Mensagem: <input type="textarea" name="msg">
            <button>Envia</button>
        </form>
    </section>

    <script src="./assets/js/bundle.js"></script>
</body>

</html>